<p id="notice"><%= notice %></p>
<%if session[:user_id]%>
<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.tweet %></td>
        <%if tweet.user_id == session[:user_id]%>
          <td><%= link_to 'Show', tweet %></td>
          <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
          <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
          <td><%= link_to 'Show', tweet %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Tweet', new_tweet_path %>
<a href='logout'>Logout</a>
<%else %>
<p>you must log in before !!!</p>
<%end%>