<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
  <li><a class="active" href="#tweets_path">Twitter</a></li>
  <li style="float:right"><a href="#about">signup</a></li>
  <li style="float:right"><a href="#about">Login</a></li>
</ul>
<br><br><br>
    <%= yield %>
  </body>
</html>
